---
import Layout from '../layouts/Layout.astro';
import Galeria from '../components/Galeria.astro';

---

<Layout title="Galeria">
    <main class="">
        <section class="pt-20 px-4 bg-[url('/src/img/Stars.gif')]">
        <h1 class="">
             <Galeria/>
        </h1>
            

        </section>
    </main>

</Layout>