---
import { Image } from "astro:assets";
---
<div class="wrapper">
    <img class="img" src="/src/img/Sobrenostros2.png" alt="">
    <div class="text-box">
        <h2>Nuestra historia</h2>
        <p>
            Lunar, fundada por 3 amigos, el 17 de julio de 2024, surgió con una visión fresca y ambiciosa: unir a 
            nuestros conductores en una comunidad vibrante y acogedora. Buscamos fomentar un espacio 
            donde cada miembro se sienta parte de un grupo activo y comprometido, enfocado en crear 
            experiencias únicas y gratificantes.
        <p>
            Con una gran habilidad para recorrer las carreteras de Euro Truck Simulator 2 y American Truck Simulator, 
            nuestros conductores destacan por su profesionalismo y destreza. En Lunar, no solo se trata de jugar, 
            sino de disfrutar cada kilómetro recorrido en compañía de una comunidad que comparte la misma pasión 
            por la simulación y los camiones.

        </p>
    </div>

</div>

<style>

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.img {
    max-width: 620px;
    float: left;
    margin-right: 15px;
    border-radius: 2%;
}

.text-box {
    color: #fff;
}

.text-box h2 {
    font-size: 31px;
}

.text-box p {
    font-size: 16px;
    font-weight: normal;
    padding: 20px 0px;
    text-align: justify;
    line-height: 20px;
}

</style>