---
import { Image } from "astro:assets"
---

<div class="profile-card">
    <img width="80" src="/src/img/Jota.png" />
    <h4>Jota.</h4>
   <span>Founder</span>
</div>


<div class="profile-card">
    <img width="80" src="/src/img/Melocoton.png" />
    <h4>Melocotón.</h4>
   <span>Management</span>
</div>

<div class="profile-card">
    <img width="80" src="/src/img/rckZ3.jpg" />
    <h4>Rckz</h4>
   <span>Management</span>
</div>

<style>

.profile-card{
    width: 300px;
    height: 400px;
    background: #1d1d1d56;
    border-radius: 10px;
    border: 1px solid #ffffff25;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #e7e7e7cd;
    margin: 10px 20px;
}

.profile-card img{
    border-radius: 20%;
    width: 150px;
}

.profile-card h4{
    margin-top: 20px;
    letter-spacing: 2px;
}
.profile-card span{
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.profile-card p{
    padding: 20px;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

</style>