---
import { Image } from "astro:assets"
---

<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="/src/img/Partner1.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner2.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner3.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner4.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner5.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner6.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner7.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner8.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner9.png" alt="">
        </div>


        <div class="slide">
            <img src="/src/img/Partner1.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner2.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner3.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner4.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner5.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner6.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner7.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner8.png" alt="">
        </div>
        <div class="slide">
            <img src="/src/img/Partner9.png" alt="">
        </div>
    </div>
</div>

<style>

.slider {
    width: 55vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 10); /* Aumentar aca si hay mas partener 10 - 12 - 14 - 16 etc*/ 
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
    padding: 10px;
    border-radius: 10%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 5)); /* Aumentar aca si hay mas partener 5 - 6 - 7 - 8 | ABAJO IGUAL*/ 
        transform: translateX(calc(-200px * 5));
    }
}

</style>
